# Docker base image: `gcr.io/deeplearning-platform-release/tf2-gpu.2-6:latest`
tensorflow==2.6.2 # The latest should include tensorflow-gpu
tensorflow-datasets==4.9.4
tensorflow-addons==0.15.0
absl-py==0.12.0
gin-config==0.5.0
parameterized==0.9.0
mediapy==1.0.3
scikit-image==0.19.1
apache-beam
google-cloud-bigquery-storage==2.24.0 # Suppresses a harmless error from beam
natsort==8.1.0
loguru
